<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RidgeRibbon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RidgeRibbon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RidgeRibbon.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="FilenameFormat" serializeAs="String">
                <value>&lt;ProjectNumber&gt;&lt;RDG&gt;&lt;Zone&gt;&lt;Level&gt;&lt;Type&gt;&lt;Role&gt;&lt;Number&gt;&lt;Revision&gt;&lt;Title&gt;</value>
            </setting>
            <setting name="DWGExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProduceDebugReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VectorProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IssueRVTEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IssueNWFEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IssueIFCEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IssueDWFEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IssueRVTFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="IssueNWFFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="IssueIFCFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="IssueDWFFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="IssueRVTDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="IssueNWFDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="IssueIFCDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="IssueDWFDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="RoomSheetNumberPrefix" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RoomSheetScale" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RoomSheetTitleblock" serializeAs="String">
                <value>A1L</value>
            </setting>
            <setting name="RoomSheetFloorPlanTemplate" serializeAs="String">
                <value/>
            </setting>
            <setting name="RoomSheetCeilingPlanTemplate" serializeAs="String">
                <value/>
            </setting>
            <setting name="RoomSheetElevationTemplate" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExpandElevation" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ExpandPlans" serializeAs="String">
                <value>500</value>
            </setting>
        </RidgeRibbon.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RidgeRibbon.Properties.Settings>
            <setting name="RidgeDefaultFormat" serializeAs="String">
                <value>&lt;ProjectNumber&gt;&lt;RDG&gt;&lt;Zone&gt;&lt;Level&gt;&lt;Type&gt;&lt;Role&gt;&lt;Number&gt;&lt;Revision&gt;&lt;Title&gt;</value>
            </setting>
        </RidgeRibbon.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
